/* CSS declarations go here */
body{
	width: 100%;
	height:100%;
	background-color: #f2f2f2;
	margin:0;
	padding:0;
	color:#666;
	font-size: 14px;
}

a{
	color:#777;
}

a:hover {
	text-decoration: none;
}

#header{
	margin:0;
	height:135px;
	padding:10px;
}

h1, h2, h3, h4{
	font-family: "Raleway";
}

.applicationNotes{
	padding:20px;
}

.logos{
	float: left;
	font-family: "Raleway"
}

.logos h3, .nav p{
	display:inline;
	padding:7px;
	margin-left:3px;
}

.icon-3x{
	background-color: #fff
	width:58px;
}

.bannerTable{
	width:80%;
	margin: 0 auto;
	font-size: 180%;
	line-height: 120%;
	padding:3px;
}

.calltoAction{
	clear: both;
	width: 50%;
	margin: 50px auto 100px;
	background-color: rgba(173,210,216,0.4);
	padding: 30px;
	border-radius: 8px;
	line-height: 120%;
}

.calltoAction h4{
	font-weight: normal;
}

td{
	padding: 15px;
}

.navbar .nav {
  position: relative;
  right: 0;
  display: block;
  float: right;
  margin: 0 10px 0 0;
}

#login-buttons a {
	text-decoration: none;
}

.tab-pane{
	padding:15px;
}

.appNotes p{
	line-height: 130%;
	padding: 10px 0;
	border-bottom: 2px #ddd solid;
}

.topSpan{
	padding: 30px 15px;
	margin: 0;
}

.topbarBox{
	position: relative;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 125%;
	height:200px;
	width:250px;
}

.topbarBox ul{
	margin:0;
	list-style-type: none;
}

.topbarBox li{
	height:30px;
}

.appSort, .appHeading{
	padding: 0 15px;
	clear: both;
}

.appSort{
	height:30px;
	padding-top:40px;
}

.appSort p{
	margin:0;
	padding:0;
}

.appHeading{
	text-align: center;
	padding-left:0;
}

.appHeading h4{
	font-family: "Raleway";
	font-size:180%;
}

.applicationSummary h3, .applicationSummary h4{
	display: inline;
	font-family: "Raleway";
	font-size: 125%;
}

.companyTab{
	font-weight: bold;
}

.sortSelect{
	float:right;
}

.banner{
	height:250px;
	box-shadow: inset 0px 0px 15px #ccc;
	padding: 15px;
	font-family: "Raleway";
}

.banner p{
	color:#fff;
	font-size: 200%;
}


#footer{
	margin:0;
	height:175px;
	padding:10px;
	bottom:0;
	overflow: hidden;
	clear:both;
	background-color: #666;
	color:#f5f5f5;
}

#header h1{
	margin: 0;
	font-size: 200%;
	text-align: center;
}

#header img{
	margin: 0 auto;
}

.container{
	width:940px;
	margin:15px auto;
	height:100%;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.13);
}

.row-fluid .span12 {
	width: 100%;
	margin: 0;
}

.row-fluid{
	background-color: #fff;
}

.span12{
	margin:0;
	width:100%;
}

.span2{

}

.span9{

}

.badge-important{
	margin-left:5px;
}

.gradients{
	padding:0;
	margin:0;
	background-color: #fff;
}

.applicationSummary{
	height:350px;
	overflow: hidden;
	padding: 15px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 125%;
	margin:15px;
	margin-bottom:30px;
}

.gradientMenu{
	position: absolute;
}

.account {
	margin-left: 20px;
}