.editCompany{
  float: right;
}
.saveCompany{
  float: right;
}
.hiddenItem{
  display:none;
}

.companyContainer{
	float:left;
	width:100%;
	/*padding:15px;*/
	background-color: #fff;
}

.companyTitle{
	width:60%;
	font-size:115%;
}

.companyNameLabel{
	font-size:115%;
}

.company-data {
  color: #2C337F;
}